# Pandas : For Data Manipulation and Data Analysis

In [2]:
# Multi dimentational Data structure for data analysis

In [3]:
# Multi dimentional data structures : data frame

In [11]:
import pandas as pd

In [6]:
s1 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
s2 = pd.Series({'Appple': 10, 'Orange': 12, 'Banana': 32})   # Created Dictionary
s2

Appple    10
Orange    12
Banana    32
dtype: int64

#  Data Frame

In [8]:
pd.DataFrame({'Names': ['A', 'B', 'c'], 'Marks': [23,34,29]})

  Names  Marks
0     A     23
1     B     34
2     c     29

# Iris dataset

In [14]:
import csv

In [16]:
import os

In [17]:
pwd

'C:\\Users\\QDS'

In [20]:
train = pd.read_csv('Data_Train.csv')

In [23]:
train.head()

,Unique_ID,Name,Genre,Country,Song_Name,Timestamp,Views,Comments,Likes,Popularity,Followers
0,413890,Hardstyle,danceedm,AU,N-Vitral presents BOMBSQUAD - Poison Spitter (...,2018-03-30 15:24:45.000000,14017,4,499,97,119563
1,249453,Dj Aladdin,danceedm,AU,Dj Aladdin - Old School Hip Hop Quick Mix,2016-06-20 05:58:52.000000,1918,17,49,17,2141
2,681116,Maxximize On Air,danceedm,AU,Maxximize On Air - Mixed by Blasterjaxx - Epis...,2015-05-08 17:45:59.000000,9668,11,312,91,22248
3,387253,GR6 EXPLODE,rbsoul,AU,MC Yago - Tenho Compromisso (DJ R7),2017-06-08 23:50:03.000000,113036,2,"2,400",76,393655
4,1428029,Tritonal,danceedm,AU,Escape (feat. Steph Jones),2016-09-17 20:50:19.000000,110024,81,"3,031",699,201030

In [24]:
train.describe()   # Like Summary

          Unique_ID         Views       Comments     Followers
count  7.845800e+04  7.845800e+04   78458.000000  7.845800e+04
mean   7.451701e+05  5.469686e+05     115.270973  4.787663e+05
std    4.805507e+05  3.883085e+06     724.614868  1.168120e+06
min    0.000000e+00  0.000000e+00       0.000000  1.000000e+00
25%    3.149512e+05  6.216500e+03       1.000000  1.770000e+04
50%    6.618655e+05  2.538650e+04      12.000000  8.768200e+04
75%    1.176618e+06  1.201342e+05      61.000000  3.936550e+05
max    1.570012e+06  1.994050e+08  104082.000000  9.789123e+06

In [29]:
train.iloc[0:5,[1,7,8,9]]

               Name  Comments  Likes Popularity
0         Hardstyle         4    499         97
1        Dj Aladdin        17     49         17
2  Maxximize On Air        11    312         91
3       GR6 EXPLODE         2  2,400         76
4          Tritonal        81  3,031        699

In [31]:
train['Comments'] > 10

0        False
1         True
2         True
3        False
4         True
         ...
78453     True
78454    False
78455    False
78456     True
78457    False
Name: Comments, Length: 78458, dtype: bool

In [32]:
train[train['Comments'] > 10]    # Only extract tthat are true in above list

,Unique_ID,Name,Genre,Country,Song_Name,Timestamp,Views,Comments,Likes,Popularity,Followers
1,249453,Dj Aladdin,danceedm,AU,Dj Aladdin - Old School Hip Hop Quick Mix,2016-06-20 05:58:52.000000,1918,17,49,17,2141
2,681116,Maxximize On Air,danceedm,AU,Maxximize On Air - Mixed by Blasterjaxx - Epis...,2015-05-08 17:45:59.000000,9668,11,312,91,22248
4,1428029,Tritonal,danceedm,AU,Escape (feat. Steph Jones),2016-09-17 20:50:19.000000,110024,81,"3,031",699,201030
6,414871,Hardstyle,danceedm,AU,Coone - Universal Language (Cyber Remix),2016-01-22 17:23:26.000000,37480,15,"1,017",226,119563
10,1457484,TWOLOUD,danceedm,AU,BIG BANG Radio Episode 011 :: PODCAST,2014-09-29 10:29:11.000000,14411,23,397,124,60805
...,...,...,...,...,...,...,...,...,...,...,...
78449,438230,HEXAGON,deephouse,AU,Alex Adair - Make Me Feel Better (Don Diablo &...,2015-02-18 15:37:10.000000,10293006,1039,181K,28.7K,152245
78450,405899,GRAVEDGR,electronic,AU,GRAVEDGR - RAMPAGE (KAMI & Greater Than Remix),2018-10-05 04:07:16.000000,60574,82,"2,252",414,19163
78452,336908,Featurecast,electronic,AU,Featurecast - Audiotorium Promo Mix,2010-10-26 10:18:16.000000,77194,194,"1,360",72,79397
78453,1144131,Resident Advisor,ambient,AU,RA.505 Josey Rebelle,2016-02-08 09:11:33.000000,12221,19,489,47,143726
78456,175337,DHA AM (Deep House London),electronic,AU,Night Vision - DHL Mix #124,2017-01-18 10:10:12.000000,8896,24,371,89,143743

In [44]:
train[(train['Comments'] < 1000) & (train['Followers'] < 100000) & (train['Genre'] == 'electronic')]

,Unique_ID,Name,Genre,Country,Song_Name,Timestamp,Views,Comments,Likes,Popularity,Followers
12,1508244,WB x MB,electronic,AU,WE BANG - HANDS UP - OUT NOW ON SMASHED BEATZ,2011-07-12 21:55:03.000000,3636,42,44,0,15839
13,459831,No Mana,electronic,AU,No Mana - Anti-Social Media,2018-06-15 20:23:04.000000,13617,14,512,64,29360
35,1466298,Uprise Music,electronic,AU,Illy Noise - Comeback (VIP Mix),2014-07-18 18:49:28.000000,137403,60,"3,716","1,118",53681
37,66327,Uptempo HC Channel,electronic,AU,Unleashed Fury & Exhilarate Ft. Excruciate - F...,2017-08-23 10:35:06.000000,4050,0,201,37,23477
43,1557582,Nick Nitro,electronic,AU,"Megaman Unlimited - ""Division By Zero"" NITRO R...",2018-12-28 19:30:36.000000,4547,7,168,8,5106
...,...,...,...,...,...,...,...,...,...,...,...
78428,31674,Afterlife,electronic,AU,Recondite - Rainmaker,2018-05-09 12:10:46.000000,27275,5,461,62,62307
78439,1393114,Beats In Space,electronic,AU,BIS Radio Show #798 with Maceo Plex and Rebolledo,2015-09-09 06:58:09.000000,0,0,0,0,90704
78440,509301,Justice Skolnik,electronic,AU,Oh Wonder - Without You (Justice Skolnik Remix),2015-11-09 18:58:53.000000,847196,152,19.2K,"3,184",16535
78450,405899,GRAVEDGR,electronic,AU,GRAVEDGR - RAMPAGE (KAMI & Greater Than Remix),2018-10-05 04:07:16.000000,60574,82,"2,252",414,19163
78452,336908,Featurecast,electronic,AU,Featurecast - Audiotorium Promo Mix,2010-10-26 10:18:16.000000,77194,194,"1,360",72,79397