In [1]:
print("Infra")

Infra

In [2]:
var 1 = 'Gold'
var 1

SyntaxError: invalid syntax (<ipython-input-2-4a1690b910c7>, line 1)

In [3]:
var 1

SyntaxError: invalid syntax (<ipython-input-3-fbfdba4900bb>, line 1)

In [4]:
var 2 = 'Silver'

SyntaxError: invalid syntax (<ipython-input-4-130a32d416c4>, line 1)

In [5]:
var1 = 'Gold'

In [6]:
var1

'Gold'

In [7]:
a = '10'

In [8]:
type(a)

str

In [9]:
b = 10 
type(b)

int

In [10]:
c = 4+5j
type(c)

complex

In [11]:
# Addition
z = 1
y = 5
x = z+y
x

6

In [12]:
# Relation operators
a=10
b=20

a<b

True

In [13]:
a==b

False

In [14]:
a!=b

True

In [15]:
# Logical Operator
# & and |

a = True
b = False

In [16]:
a&b

False

In [17]:
a | b

True

In [18]:
a & a

True

In [19]:
'''I am going
to france tomorrow'''

'I am going\nto france tomorrow'

In [20]:
"""I am goin to france 
tomorrow"""

'I am goin to france \ntomorrow'

In [21]:
 a = 'I love Paris'

In [22]:
a[7:12]

'Paris'

In [23]:
len(a)

12

In [24]:
a.upper(a)

TypeError: upper() takes no arguments (1 given)

In [25]:
a.upper()

'I LOVE PARIS'

In [26]:
a.lower()

'i love paris'

In [27]:
tup1 = (10, 'HI', True, 20.34)

In [29]:
tup1[2:4]

(True, 20.34)

In [30]:
tup1[0]

10

In [31]:
list1 = ['Qut', 12, False, 223.12]

In [32]:
list1[0:3]

['Qut', 12, False]

In [33]:
list1[0] = 'CHG'

In [34]:
list1[0:3]

['CHG', 12, False]

In [35]:
# Disctionary

d1 = {'apple':45, 'orange':35, 'Banana': 21}

In [36]:
d1

{'apple': 45, 'orange': 35, 'Banana': 21}

In [37]:
d1.values()

dict_values([45, 35, 21])

In [38]:
d1['Banana'] = 100

In [39]:
d1.values()

dict_values([45, 35, 100])

In [43]:
# Set : Duplicate is not allowed
q = {1, 'Hi',1,1,1, 123.1}

q

In [44]:
q

{1, 123.1, 'Hi'}

In [46]:
q.add('Hello')

In [47]:
q

{1, 123.1, 'Hello', 'Hi'}

In [50]:
q.update([12, 100])

In [51]:
q

{1, 100, 12, 123.1, 'Hello', 'Hi'}